*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: -5px 1px 15px -8px #000000;
}

.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img{
    width: 70px;
    height: 40px;
}

.menu{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.ul-menu-two{
    display: none;
}

.ul-menu, .ul-menu-two{
    list-style: none;
    float: none;
}

.ul-menu li{
    float: left;
}

.ul-menu li a{
    text-decoration: none;
    font-size: 18px;
    color: #6b6969;
    display: block;
    text-align: center;
    padding: 8px 20px ;
    margin: 5px;
    box-shadow: 0px 1px 5px 0px #ffffff;
    border-top:  1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-radius: 10px;
    transition: all .3s;
}

.ul-menu li a:hover{
    box-shadow: 0px 1px 5px 0px #9C050B;
    border-top:  1px solid #9C050B;
    border-bottom: 1px solid #9C050B;
    color: #9C050B;
    font-size: 18px;
}

.ul-menu-two{
    margin: 0 auto;
}

.ul-menu-two li {
    float: left;
    position: relative;
}

.ul-menu-two li a{
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    width: 200px;
    color: #6b6969;
    text-align: center;
    font-size: 20px;
}

.ul-menu-two li a:hover{
    background-color: #ffcaca;
    color: #423c3c;
    font-weight: 700;
}

.ul-menu-two li ul{
    list-style: none;
    position: absolute;
    top: 24px;
    left: 0;
    background-color: #fff;
    display: none;
    margin-top: 5px;
    z-index: 2;
}

.ul-menu-two li:hover ul{
    display: block;
}

.ul-menu-two li ul li{
    border: 1px solid #ccc;
    display: block;
    width: 200px;
    font-size: 16px;
}

.ul-menu-two li ul li:hover{
    border-left: 1px solid #9C050B;
}

.search{
    /* width: 20%; */
    height: 60%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    background-color: #dad5d5;
    border-radius: 20px;
}

.search i{
    color: #423c3c;
}

.search input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #423c3c;
    font-size: 14px;
}

.search input::placeholder{
    color: #6b6969;
}

.profile{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #6b6969;
    padding: 8px;
}

.profile .adress{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.profile .adress i{
    font-size: 14px;
}


.profile i{
    color: #9C050B;
    cursor: pointer;
}

.profile .bag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    cursor: pointer;
}

.profile .bag i{
    font-size: 22px;
}

main{
    width: 100vw;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

main .section-coupon{
    width: 90%;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

main .section-coupon .coupon{
    width: 240px;
    height: 160px;
    position: relative;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
}

main .section-coupon .coupon img{
    width: 240px;
    height: 160px;
    opacity: 0.5;
    border-radius: 30px;
}

main .section-coupon .coupon figcaption{
    width: 220px;
    height: 50px;
    position: absolute;
    top: 55px;
    left: 0px;
    vertical-align: middle;
    text-align: center;
    padding-top: 5px;
}

main .section-places{
    width: 90%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

main .section-places h3{
    margin-bottom: 20px;
}

main .section-places .div-figures{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

main .section-places .div-figures .place{
    width: 300px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    gap: 10px;
    cursor: pointer;
}

main .section-places .div-figures figure img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 30px;
}

main .section-restaurants{
    width: 90%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

main .section-restaurants .div-restaurants{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

main .section-restaurants .div-restaurants .restaurants-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

main .section-restaurants .div-restaurants figure{
    width: 180px;
    height: 180px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}


main .section-restaurants .div-restaurants figure:hover{
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: -1px 10px 15px 0px #ccc;
    background-color: #f54242;
}

main .section-restaurants .div-restaurants figure img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

main .section-orders-placed {
    width: 90%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    margin-top: 30px;
}

main .section-orders-placed .div-orders-placed{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    margin-top: 25px;
    gap: 8px;
}

main .section-orders-placed .div-orders-placed figure{
    width: 260px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    gap: 6px;
    padding: 5px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

main .section-orders-placed .div-orders-placed figure:hover{
    box-shadow: 0px 10px 10px 0px #ccc;
}

main .section-orders-placed .div-orders-placed img{
    width: 100px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
}

main .section-orders-placed .div-orders-placed i{
   position: absolute;
   top: 23px;
   left: 228px;
   color: rgb(243, 207, 0);
}

main .load-more{
    margin-top: 50px;
    width: 80%;
    height: 40px;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    color: #f54242;
    border: 1px solid #ffcaca;
    background-color: #ffffff;
    cursor: pointer;
    transition: all .6s;
}

main .load-more:hover{
    background-color: #f54242;
    color: #ffffff;
}



/* Break points */

@media (max-width: 1400px){
    .ul-menu li a{
        padding: 8px 10px ;
    }
}

@media (max-width: 1200px){
    .ul-menu li a{
        padding: 8px 5px ;
    }

    .profile{
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media (max-width: 997px){
    .menu{
        width: 30%;
    }

    .ul-menu li a{
        display: none;
    }

    .profile{
        width: 30%;
        padding: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .ul-menu-two{
        display: block;
    }

}

@media (max-width: 774px){
    header{
        padding: 0 5px;
    }

    .search{
        display: none;
    }

    .menu{
        width: 50%;
    }


    header .logo img{
        width: 50px;
        height: 30px;
    }

    .profile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 7px;
    }

}

@media (max-width: 500px){
    header{
        padding: 0 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu{
        width: 40%;
    }

    header .logo img{
        width: 30px;
        height: 15px;
    }

    .ul-menu-two li a{
        width: 140px;
    }

     .ul-menu-two li ul li{
        width: 140px;
    }

    .profile{
        width: 20%;
    }

    .profile .bag{
        display: none;
    }

    main .section-coupon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    main .section-coupon .coupon{
        width: 100%;
        background-color: #6b6969;
    }

    main .section-coupon .coupon{
        width: 90%;
        height: 200px;
        background-color: #6b6969;
    }

    main .section-coupon .coupon img{
        width: 100%;
        height: 200px;
    }

    main .section-coupon .coupon figcaption{
        width: 100%;
        height: 100px;
        position: absolute;
        top: 85px;
        left: 0px;
        vertical-align: middle;
        text-align: center;
        padding-top: 5px;   
    }

    main .section-places{
        margin-top: 30px;
    }

    main .section-places .div-figures{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    main .section-places .div-figures .place{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        gap: 10px;
        margin-top: 5px;
    }

    main .section-places .div-figures figure img{
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 30px;
    }

    main .section-restaurants{
        width: 100%;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 35px;
    }

    main .section-restaurants .div-restaurants{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 15px;
    }

    main .section-restaurants .div-restaurants .restaurants-options{
        width: 100%;
        height:200px ;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        overflow: hidden;
        overflow-x: auto;
        border-bottom: 1px solid #ccc;
    }

    main .section-restaurants .div-restaurants .restaurants-options::-webkit-scrollbar {
         width: 0px;
    }

    main .section-restaurants .div-restaurants figcaption{
        width: 140px;
        text-align: center;
    }

    main .section-orders-placed {
        width: 100%;
    }

    main .section-orders-placed .div-orders-placed figure{
        width: 80%;
        margin-bottom: 10px;
    }

    main .section-orders-placed .div-orders-placed i{
        display: none;
    }
}